body{
    background: #348C31;
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    
}


/* https://git.generalassemb.ly/carlos-godoy720/modals */
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
}
#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
    margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
    text-align: center;
    padding: 10px;
    border:5px solid black;
    
}
.ribbon {
    text-align:center;
    display:block;
    width:300px;
    height:150px;
    background:tan;
    border-top: solid black 10px;
    font-size: 50px;
    /* top:  50px; */
    padding-top: 100px;
}
.ribbon:after {
    content:"";
    display:block;
    position:relative;
    top: 35px;
    width:0;
    height:0;
    border-width:100px 150px 100px 150px;
    border-style:solid;
    border-color:tan tan transparent tan;
    
}
.ribbon2 {
    text-align:center;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    display:block;
    width:300px;
    height:150px;
    background:tan;
    border-top: solid black 10px;
    font-size: 50px;
    top:  300px;
    padding-top: 100px;
    margin: auto;
    animation-duration: 3s;
}
.ribbon2:after {
    position:absolute;
    content:"";
    display:block;
    position:relative;
    top: 35px;
    width:0;
    height:0;
    border-width:100px 150px 100px 150px;
    border-style:solid;
    border-color:tan tan transparent tan;
    
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:100vh;
    align-items: center;
    /* margin-top: 500px; */
}
.startButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    z-index:1;
    position: absolute;
    text-decoration: none;
    color: initial;
    cursor: pointer;
    display: block;
    margin-top:150px;
    background-color: tan;
    font-size:25px;
}
.gameboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 50px;
    /* border: solid black 10px; */
}
.gameOver{
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
}
.gameOverText{
    background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
    margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
    text-align: center;
    padding: 10px;
    border:5px solid black;
    font-size: 50px;
}
.card{
    height: 200px;
    width: 125px;
    background-color: #8EA0B8;
    border-radius: 5%;
    text-align: center;
    font-size: 25px;
    border: 3px solid black;
    
}
.drawCard1{
    
    transition: .5s all ease;
    animation-name: null;
    animation-duration: .5s;
}
.drawCard2{
    transition: .5s all ease;
    background-color:#f13f4a;
    animation-name: null;
    animation-duration: .5s;
}
.hidden{
    display: none;
    
}
.drawButtonOne img{
    width: 75px;
}

.drawButtonOne{
    background-color: darkgray;
}
.drawButtonOne:hover{
    background-color: #BBBAC6;
}
.playerOne{
    border: 5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 25px;
    background-color:#8EA0B8;

}
.playerOneCharacter{
    width: 250px;
}
.playerTwo{
        border: 5px solid black;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 25px;
        background-color: #f13f4a;
}
.playerTwoCharacter{
    width :250px;
}
.hills {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    
}

.hills svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 418px;
    
}

.hills .shape-fill {
    fill: #50C2E3;
}
/* .castle{
    position:absolute;
    z-index:3;
    width:15em;
    left: 75em;
    top: 50px;
} */

@keyframes playermove {
    0% { 
       transform: translateX();
     }
  
    50% {
       transform: translateX(50px);
     }
  
    100% {
        transform: translateX();
     }
  
  }

  @keyframes compmove {
    0% { 
       transform: translateX();
       
     }
  
    50% {
       transform: translateX(-50px);
     }
  
    100% {
        transform: translateX();
     }
  
  }

  @keyframes bannermove {
    0% { 
       transform: translateY();
       padding-top: 100px;
     }
     
    100% {
        transform: translateY(-300px);
        padding-top: 50px;
     }
  
  }